@import url("https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Syne:wght@400..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  overflow-x: hidden !important;
}
body {
  font-family: "Syne", sans-serif;
  background-color: #f0f8ff;
}
.container {
  max-width: 1416px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style-type: none;
  display: flex;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col6 {
  width: 50%;
  padding: 0 15px;
}
.col4 {
  width: 33.33%;
  padding: 0 15px;
}
.col3 {
  width: 25%;
  padding: 0 15px;
}
h1,
.title1 {
  font-size: 68px;
  font-weight: 700;
  color: #ffffff;
}
h2,
.title2 {
  font-size: 45px;
  font-weight: 600;
  color: #122732;
}
h3,
.title3 {
  font-size: 35px;
  font-weight: 600;
  color: #122732;
}
h4,
.title4 {
  font-size: 25px;
  font-weight: 500;
  color: black;
}
h5,
.title5 {
  font-size: 20px;
  font-weight: 500;
  color: black;
}
p,
.para {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}
.blue-btn {
  min-width: 176px;
  background-color: #122732;
  color: #ffffff;
  text-align: center;
  padding: 18px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

/* Header Section */
.header-section {
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  z-index: 10;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-list {
  gap: 80px;
  margin: 0 auto;
}
.nav-list > li > a:hover {
  transform: scaleX(1.1);
  color: #f0f8ff;
  text-decoration: underline;
}
.nav-list > li > a {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
.nav-collapse {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.nav-logo {
  max-width: 81px;
  max-height: 36px;
}
.nav-logo > a,
.nav-logo > a > img {
  width: 100%;
  height: 100%;
}
.nav-logo > a > img {
  object-fit: contain;
}
.ham {
  display: none;
}
.active {
  display: block !important;
}

/* Banner Section */
/* Slider Banner */

#banner-swiper.swiper {
  max-width: 100%;
  max-height: 100%;
}

#banner-swiper .swiper-content {
  max-width: 1416px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

#banner-swiper .swiper-slide {
  padding: 90px 0;
  min-height: 812px;
  display: flex;
  align-items: center;
}

.slide1 {
  background: url(../Assets/BannerBg.png) no-repeat center/cover;
}

.banner-content1 {
  color: #ffffff;
  padding: 0 15px;
  max-width: 700px;
}

.slide2 {
  background: url(../Assets/Bannerbg2.png) no-repeat center/cover;
}

.banner-content2 {
  color: #122732;
  padding: 0 15px;
  max-width: 660px;
}

.slide3 {
  background: url(../Assets/Bannerbg3.png) no-repeat center/cover;
}

.banner-content3 {
  padding: 0 15px;
  color: #ffffff;
  max-width: 790px;
}

.blue-btn:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 10px rgb(16, 88, 204);
  transition: 1.2s;
}

.banner-content1 > .para,
.banner-content2 > .para,
.banner-content3 > .para {
  margin-block: 30px;
}
/* view-cart-section */
.view-cart-section {
  margin-block: 66px 50px;
}
.view-cart-head .title2,
.work-head .title2,
.agents-head .title2 {
  min-width: 257px;
  text-align: center;
  margin-bottom: 15px;
}

.view-cart-head .para,
.work-head .para,
.agents-head .para {
  max-width: 612px;
  margin: 0 auto 50px;
  color: #616066 !important;
  text-align: center;
}
.view-cart-box {
  max-width: 456px;
  height: 100%;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 15px 0;
  transition: 0.4s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
}
/* .view-cart-box:hover{
  transform: translateY(20px);
  background: linear-gradient(0deg , #f0f8ff , #ffffff, #123344);
} */

.cart-img {
  width: 100%;
  max-height: 252px;
  object-fit: cover;
}
.view-cart-para {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 10px 15px;
  padding: 0 20px;
}
.view-cart-para > .sub-para {
  font-size: 15px;
  font-weight: 400;
  color: #616066;
}
.view-cart-heading {
  font-size: 30px;
  font-weight: 600;
  color: #123344;
  padding: 0 20px;
}
.view-cart-price {
  font-size: 25px;
  font-weight: 500;
  color: #123344;
  padding: 0 20px;
  margin-block: 15px;
}
.view-cart-btn {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: auto;
}

.btn {
  text-align: center;
  transition: background-color 0.3s ease;
  padding: 14px 30px;
  text-align: center;
  font-weight: 600;
  color: #122732;
  border-radius: 8px;
  border: 1px solid #122732;
}
.btn:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 10px rgb(89, 89, 93);
  transition: 1.2s;
}

.view-btn,
.agent-btn {
  text-align: center;
  margin-top: 50px;
}
/* House Section */
.house-section {
  padding: 80px 0 75px;
}
.house {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
}
.house-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.house-content .title2 {
  margin-bottom: 30px;
}
.house-content .para {
  color: #616066 !important;
  margin-bottom: 30px;
}

/* Work Section */
.work-section {
  padding-bottom: 300px;
}
.work-card {
  height: 100%;
  width: 100%;
  box-shadow: 1px 1px 5px rgb(197, 186, 186);
  border-radius: 25px;
  background: #ffffff;
  padding: 20px 10px;
}
.work-card .title4 {
  margin-block: 25px;
}
.work-card > p {
  color: #616066;
  font-size: 18px;
}
.work-card-img {
  height: 50px;
  width: 50px;
  background: #123344;
  padding: 12px 10px;
  border-radius: 15px;
}
.work-card-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.arrow {
  width: 12.5%;
}
.arrow > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
/* Agents */
.agent-box {
  width: 100%;
  height: 100%;
}
.agent-img:hover {
  transform: translateY(-10px);
  box-shadow: 1px 10px 10px rgb(16, 88, 204);
  transition: 1.2s;
}

.agent-box p {
  font-size: 20px;
  color: #616066;
  font-weight: 500;
}
.agent-img {
  width: 100%;
  max-height: 406px;
  object-fit: cover;
  border-radius: 25px;
}

.blue-btn:hover {
  background: #092636;
}
/* agent-house-section */
.agent-house-section {
  padding: 75px 0;
}
.icon-card {
  min-width: 50px;
  height: 50px;
  background-color: #122732;
  border-radius: 15px;
  padding: 10px 12px;
}
.icon-card > a,
.icon-card > a > img {
  height: 100%;
  width: 100%;
}
.icon-card > a > img {
  object-fit: contain;
}
.icon-para {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 576px;
}
.agent-house-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.agent-house-content .para {
  color: #616066 !important;
}
/* Blogs Swiper */
.blogs {
  padding-block: 75px;
}
.blogs .title2,
.blogs .para {
  text-align: center;
}
.blogs .para {
  color: #616066 !important;
  margin-bottom: 15px;
}

#blog-swiper.swiper {
  width: 100%;
  height: 100%;
  /* padding: 0 15px; */
}
#blog-swiper .swiper-wrapper {
  /* padding: 15px; */
}
#blog-swiper .swiper-slide {
  max-width: 450px !important;
  /* padding: 0 15px; */
}
.blog-content .pa {
  font-size: 15px;
  font-weight: 400;
  color: #616066;
  max-width: 400px;
  margin-block: 20px;
}
.swiper-pagination,
.swiper-button-next,
.swiper-button-prev {
  pointer-events: all !important;
}
.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  bottom: 0;
}
.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet {
  background: black;
}
.blog-card {
  max-width: 456px;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 1px 2px 5px gainsboro;
  border-radius: 15px;
}
.blog-card > img {
  width: 100%;
  height: 224px;
  object-fit: cover;
  border-radius: 20px;
}
.blog-content > a {
  color: black;
}
.blog-card:hover {
  transform: translatey(-20px);
  transition: 0.4s;
  box-shadow: 2px 10px 10px wheat;
}
/* Footer Section */
.footer-section {
  background: #122732;
  padding-block: 50px;
}
.footer-head {
  margin-bottom: 50px;
}
.footer-head > div {
  justify-content: space-between;
}
.left-footer-content,
.right-footer-content {
  height: 100%;
  width: 100%;
}
.foot-head {
  min-width: 60%;
  font-size: 32px;
  color: #ffffff;
  font-weight: 600;
  display: block;
  margin-bottom: 20px;
}
.sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.sub .blue-btn {
  min-width: 30% !important;
  background-color: black !important;
}

.mail {
  min-width: 60%;
  outline: none;
  padding: 17px 30px;
  /* color: #ffffff; */
  background-color: #123344;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  font-weight: 400;
}
.footer-middle {
  padding-block: 50px;
}
.call,
.gmail {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 43px;
}
.footer-title {
  font-size: 22px !important;
  font-weight: 700 !important;
  color: #ffffff;
}
.footer-list {
  flex-direction: column;
  gap: 17px;
}
.footer-list > li > a {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}
.foot-img-top,
.foot-img-end {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
  width: 100%;
}
.foot-img-top > img,
.foot-img-end > img {
  max-height: 33%;
  max-width: 33%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}
.address > div:first-child {
  text-align: center;
  margin-bottom: 25px;
}
@media screen and (max-width: 992px) {
  .header-wrapper {
    justify-content: space-between;
  }
  .nav-collapse {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    display: none;
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgb(73, 71, 71), red, rgb(27, 53, 63));
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    animation-name: nav-show;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    z-index: 5;
  }
  @keyframes nav-show {
    from {
      transform: translate(0, 0);
    }

    to {
      transform: translateY(100px);
    }
  }

  .nav-list {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
  }

  .banner-content > .para {
    margin-block: 20px;
  }
  h1,
  .title1 {
    font-size: 48px;
  }
  .ham {
    display: block !important;
  }
  .ham-line {
    width: 30px;
    height: 4px;
    background: linear-gradient(270deg, #ffffff, gold, rgb(243, 63, 243));
    display: block;
    margin-bottom: 5px;
  }
  .col4 {
    width: 50%;
    margin-bottom: 10px;
  }
  .col6 {
    width: 75%;
    margin: auto;
  }
  .agent-row {
    gap: 20px;
    flex-direction: column-reverse;
  }
  .arrow {
    display: none;
  }
  .col3 {
    width: 33.33%;
  }
  .work-section {
    padding-bottom: 150px;
  }
}
@media screen and (max-width: 768px) {
  .col4 {
    width: 75%;
    margin: auto;
    margin-bottom: 10px;
  }
  p,
  .para {
    font-size: 18px;
  }
  .col3 {
    width: 50%;
    margin-bottom: 20px;
  }
  .footer-head {
    margin-bottom: 20px;
  }
  .sub {
    flex-wrap: wrap;
  }
  .house-content{
    margin-top: 25px;
  }
}
@media screen and (max-width: 576px) {
  .banner-content {
    text-align: center;
  }
  .banner-content > .para {
    font-size: 16px;
  }
  h1,
  .title1 {
    font-size: 28px;
  }
  h2,
  .title2 {
    font-size: 22px;
  }
  p,
  .para {
    font-size: 16px;
  }
  .blue-btn {
    /* padding: 12px; */
    font-size: 14px;
  }
  .nav-list > li > a {
    font-size: 16px;
  }
  .col4 {
    width: 100%;
  }
  .col6 {
    width: 100%;
  }
  .col3 {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
  }
  .work-section{
    padding-block: 50px;
  }
  .view-cart-btn > a {
    width: 100%;
  }
  .house-content .title2,
  .house-content .para {
    margin-bottom: 10px;
  }
  .foot-head{
    font-size: 22px;
    text-align: center;

  }
  .mail{
    width: 100%;
  }
  .foot-head+p{
    font-size: 12px;
  }
  .footer-middle > div {
    gap: 15px;
    text-align: center;
  }
  .sub .blue-btn{
    width: 100% !important;
  }
  .agent-house-section{
    padding: 40px 0;
  }
}
